Repository nathan29849/airbnb, pull requests merged in 2022-06, with the labels that each got.

#50 refactor: [49]좌표를 double로 관리하지 않고 Spatial type인 Point로 관리 - coordinate
  backend/build.gradle
  backend/src/main/java/team15/airbnb/domain/accommodation/Address.java
  backend/src/main/java/team15/airbnb/domain/accommodation/Region.java
Labels: fix, backend

#52 feat: [#51] User Repository 작성
  backend/src/main/java/team15/airbnb/AirbnbApplication.java
  backend/src/main/java/team15/airbnb/common/domain/BaseEntity.java
  backend/src/main/java/team15/airbnb/user/domain/User.java
  backend/src/main/java/team15/airbnb/user/infrastructure/UserRepository.java
  backend/src/test/java/team15/airbnb/user/infrastructure/UserRepositoryClassTest.java
Labels: feature, backend

#55 [Android] Call Adpater 구현 및 PR 피드백 반영
  android/app/build.gradle
  android/app/src/main/java/com/example/airbnb/data/repository/DataSource.kt
  android/app/src/main/java/com/example/airbnb/data/repository/DataSourceImpl.kt
  android/app/src/main/java/com/example/airbnb/data/repository/Repository.kt
  android/app/src/main/java/com/example/airbnb/network/APIService.kt
  android/app/src/main/java/com/example/airbnb/network/RetrofitObject.kt
  android/app/src/main/java/com/example/airbnb/network/common/ErrorType.kt
  android/app/src/main/java/com/example/airbnb/network/common/NetworkResponse.kt
  android/app/src/main/java/com/example/airbnb/network/common/NetworkResponseAdapter.kt
  android/app/src/main/java/com/example/airbnb/network/common/NetworkResponseAdapterFactory.kt
  android/app/src/main/java/com/example/airbnb/network/common/NetworkResponseCall.kt
  android/app/src/main/java/com/example/airbnb/network/dto/SearchContents.kt
  android/app/src/main/java/com/example/airbnb/ui/common/BindingAdapter.kt
  android/app/src/main/java/com/example/airbnb/ui/placesearch/PlaceSearchFragment.kt
  android/app/src/main/java/com/example/airbnb/ui/search/SearchCloseTravelAdapter.kt
  android/app/src/main/java/com/example/airbnb/ui/search/SearchFragment.kt
  android/app/src/main/java/com/example/airbnb/ui/search/ViewModel.kt
  android/app/src/main/java/com/example/airbnb/ui/settingcompose/ISettingPage.kt
  android/app/src/main/java/com/example/airbnb/ui/settingcompose/PriceSettingFragment.kt
  android/app/src/main/java/com/example/airbnb/ui/settingcompose/SettingActivity.kt
  android/app/src/main/res/layout/item_close_travel.xml
Labels: feature, android

#56 [Backend] - feat: [#35] 지역 목록 조회 기능 구현
  backend/build.gradle
  backend/src/main/java/team15/airbnb/accommodation/application/.keep
  backend/src/main/java/team15/airbnb/accommodation/application/AccommodationService.java
  backend/src/main/java/team15/airbnb/accommodation/domain/Accommodation.java
  backend/src/main/java/team15/airbnb/accommodation/domain/AccommodationDetails.java
  backend/src/main/java/team15/airbnb/accommodation/domain/Address.java
  backend/src/main/java/team15/airbnb/accommodation/domain/Region.java
  backend/src/main/java/team15/airbnb/accommodation/domain/Vat.java
  backend/src/main/java/team15/airbnb/accommodation/infrastructure/RegionRepository.java
  backend/src/main/java/team15/airbnb/accommodation/presentation/.keep
  backend/src/main/java/team15/airbnb/accommodation/presentation/controller/AccommodationController.java
  backend/src/main/java/team15/airbnb/category/application/CategoryService.java
  backend/src/main/java/team15/airbnb/category/domain/Event.java
  backend/src/main/java/team15/airbnb/category/domain/Region.java
  backend/src/main/java/team15/airbnb/category/infrastructure/RegionRepository.java
  backend/src/main/java/team15/airbnb/category/presentation/controller/CategoryController.java
  backend/src/main/java/team15/airbnb/category/presentation/dto/RegionDistanceDto.java
  backend/src/main/java/team15/airbnb/category/presentation/dto/RegionListResponse.java
  backend/src/main/java/team15/airbnb/category/presentation/dto/RegionResponse.java
  backend/src/main/java/team15/airbnb/event/application/.keep
  backend/src/main/java/team15/airbnb/event/infrastructure/.keep
  backend/src/main/java/team15/airbnb/event/presentation/.keep
  backend/src/main/resources/data.sql
  backend/src/test/java/team15/airbnb/accommodation/infrastructure/AccommodationRepositoryTest.java
Labels: backend, enhancement

#58 [Android] API 명세서 변경에 의한 DTO 변경 및 Compose 에러 해결
  android/app/src/main/java/com/example/airbnb/data/repository/DataSourceImpl.kt
  android/app/src/main/java/com/example/airbnb/network/dto/SearchContents.kt
  android/app/src/main/java/com/example/airbnb/ui/search/ViewModel.kt
  android/app/src/main/java/com/example/airbnb/ui/settingcompose/PriceSettingFragment.kt
  android/app/src/main/java/com/example/airbnb/ui/settingcompose/SettingActivity.kt
Labels: fix, android

#59 [Android] Compose 구현 및 CallAdapter로 상태관리
  .idea/.gitignore
  .idea/airbnb.iml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/workspace.xml
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/airbnb/HeadCountComposeActivity.kt
  android/app/src/main/java/com/example/airbnb/SearchResultFragment.kt
  android/app/src/main/java/com/example/airbnb/data/repository/DataSource.kt
  android/app/src/main/java/com/example/airbnb/data/repository/DataSourceImpl.kt
  android/app/src/main/java/com/example/airbnb/data/repository/Repository.kt
  android/app/src/main/java/com/example/airbnb/di/ApplicationModule.kt
  android/app/src/main/java/com/example/airbnb/network/APIService.kt
  android/app/src/main/java/com/example/airbnb/network/RetrofitObject.kt
  android/app/src/main/java/com/example/airbnb/network/common/ErrorType.kt
  android/app/src/main/java/com/example/airbnb/network/common/NetworkResponse.kt
  android/app/src/main/java/com/example/airbnb/network/common/NetworkResponseAdapter.kt
  android/app/src/main/java/com/example/airbnb/network/common/NetworkResponseAdapterFactory.kt
  android/app/src/main/java/com/example/airbnb/network/common/NetworkResponseCall.kt
  android/app/src/main/java/com/example/airbnb/network/dto/SearchContents.kt
  android/app/src/main/java/com/example/airbnb/ui/MainActivity.kt
  android/app/src/main/java/com/example/airbnb/ui/calendar/CalendarFragment.kt
  android/app/src/main/java/com/example/airbnb/ui/common/BindingAdapter.kt
  android/app/src/main/java/com/example/airbnb/ui/common/ButtonState.kt
  android/app/src/main/java/com/example/airbnb/ui/placesearch/PlaceSearchFragment.kt
  android/app/src/main/java/com/example/airbnb/ui/search/SearchCloseTravelAdapter.kt
  android/app/src/main/java/com/example/airbnb/ui/search/SearchFragment.kt
  android/app/src/main/java/com/example/airbnb/ui/search/ViewModel.kt
  android/app/src/main/java/com/example/airbnb/ui/settingcompose/HeadCountFragment.kt
  android/app/src/main/java/com/example/airbnb/ui/settingcompose/PriceSettingFragment.kt
  android/app/src/main/java/com/example/airbnb/ui/settingcompose/SettingActivity.kt
  android/app/src/main/java/com/example/airbnb/ui/settingcompose/SettingPage.kt
  android/app/src/main/java/com/example/airbnb/ui/settingcompose/SettingViewModel.kt
  android/app/src/main/res/layout/activity_setting.xml
  android/app/src/main/res/layout/fragment_head_count.xml
  android/app/src/main/res/layout/fragment_price_setting.xml
  android/app/src/main/res/layout/fragment_search_result.xml
  android/app/src/main/res/layout/item_close_travel.xml
  android/app/src/main/res/navigation/navigation.xml
  android/app/src/main/res/values/strings.xml
Labels: android

#61 [Backend] - feat: [#34] 이벤트 목록 조회 api
  backend/src/main/java/team15/airbnb/category/application/CategoryService.java
  backend/src/main/java/team15/airbnb/category/domain/Event.java
  backend/src/main/java/team15/airbnb/category/infrastructure/EventRepository.java
  backend/src/main/java/team15/airbnb/category/infrastructure/RegionRepository.java
  backend/src/main/java/team15/airbnb/category/presentation/controller/CategoryController.java
  backend/src/main/java/team15/airbnb/category/presentation/dto/EventListResponse.java
  backend/src/main/java/team15/airbnb/category/presentation/dto/EventResponse.java
  backend/src/main/java/team15/airbnb/category/presentation/dto/RegionDistanceDto.java
  backend/src/main/java/team15/airbnb/category/presentation/dto/RegionResponse.java
  backend/src/main/resources/data.sql
Labels: backend, enhancement

#63 [Backend] refactor [35] QLRM 관련 코드 주석 처리 및 nativeQuery 대신 JPQL 사용코드로 변경
  backend/build.gradle
  backend/src/main/java/team15/airbnb/category/infrastructure/AirbnbMySqlDialect.java
  backend/src/main/java/team15/airbnb/category/infrastructure/RegionRepository.java
  backend/src/main/java/team15/airbnb/category/presentation/dto/RegionDistanceDto.java
  backend/src/main/java/team15/airbnb/category/presentation/dto/RegionResponse.java
  backend/src/main/resources/application-local.yml
Labels: fix, backend

#66 feat: [44] 금액 구간에 따른 숙소 조회 기능 구현
  backend/src/main/java/team15/airbnb/accommodation/application/AccommodationService.java
  backend/src/main/java/team15/airbnb/accommodation/infrastructure/AccommodationRepository.java
  backend/src/main/java/team15/airbnb/accommodation/presentation/controller/AccommodationController.java
  backend/src/main/java/team15/airbnb/accommodation/presentation/dto/AccommodationFeeDto.java
  backend/src/main/java/team15/airbnb/accommodation/presentation/dto/AccommodationFeesResponse.java
Labels: feature, backend

#67 feat: [47] 유저 위시리스트 조회
  backend/src/main/java/team15/airbnb/user/application/.keep
  backend/src/main/java/team15/airbnb/user/application/UserService.java
  backend/src/main/java/team15/airbnb/user/domain/UserType.java
  backend/src/main/java/team15/airbnb/user/infrastructure/.keep
  backend/src/main/java/team15/airbnb/user/infrastructure/UserRepository.java
  backend/src/main/java/team15/airbnb/user/presentation/.keep
  backend/src/main/java/team15/airbnb/user/presentation/controller/UserController.java
  backend/src/main/java/team15/airbnb/user/presentation/dto/FavoriteDto.java
  backend/src/main/java/team15/airbnb/user/presentation/dto/FavoritesResponse.java
  backend/src/main/resources/data.sql
Labels: feature, backend

#70 [backend] Favorite 추가 기능 구현
  backend/src/main/java/team15/airbnb/user/application/FavoriteService.java
  backend/src/main/java/team15/airbnb/user/domain/Favorite.java
  backend/src/main/java/team15/airbnb/user/domain/User.java
  backend/src/main/java/team15/airbnb/user/infrastructure/FavoriteRepository.java
  backend/src/main/java/team15/airbnb/user/infrastructure/UserRepository.java
  backend/src/main/java/team15/airbnb/user/presentation/controller/FavoriteController.java
  backend/src/main/java/team15/airbnb/user/presentation/dto/AddFavoriteDto.java
Labels: feature, backend, enhancement

#69 Feature/boradcast
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/airbnb/CertificationWorker.kt
  android/app/src/main/java/com/example/airbnb/DownloadBroadcastReceiver.kt
  android/app/src/main/java/com/example/airbnb/common/common.kt
  android/app/src/main/java/com/example/airbnb/common/notification.kt
  android/app/src/main/java/com/example/airbnb/ui/search/SearchFragment.kt
  android/app/src/main/res/drawable/ic_baseline_hotel_24.xml
  android/app/src/main/res/layout/fragment_search.xml
  android/app/src/main/res/values/strings.xml
Labels: android

#73 Be/feature/#38 accommodation fee policy search
  backend/src/main/java/team15/airbnb/accommodation/domain/Accommodation.java
  backend/src/main/java/team15/airbnb/accommodation/domain/DiscountPolicy.java
  backend/src/main/java/team15/airbnb/accommodation/domain/Vat.java
  backend/src/main/java/team15/airbnb/reservation/application/.keep
  backend/src/main/java/team15/airbnb/reservation/application/ReservationService.java
  backend/src/main/java/team15/airbnb/reservation/domain/Reservation.java
  backend/src/main/java/team15/airbnb/reservation/presentation/.keep
  backend/src/main/java/team15/airbnb/reservation/presentation/controller/ReservationController.java
  backend/src/main/java/team15/airbnb/reservation/presentation/dto/PreviewResponse.java
  backend/src/main/resources/data.sql
Labels: feature, backend, enhancement

#74 [Backend] [43] 검색 조건에 따른 숙소 목록 조회 기능 구현
  backend/src/main/java/team15/airbnb/accommodation/application/AccommodationService.java
  backend/src/main/java/team15/airbnb/accommodation/infrastructure/AccommodationRepository.java
  backend/src/main/java/team15/airbnb/accommodation/presentation/controller/AccommodationController.java
  backend/src/main/java/team15/airbnb/accommodation/presentation/dto/AccommodationListResponse.java
  backend/src/main/java/team15/airbnb/accommodation/presentation/dto/AccommodationSimpleInfoResponse.java
  backend/src/main/java/team15/airbnb/accommodation/presentation/dto/SearchAccommodationsByOptionsResponse.java
  backend/src/main/java/team15/airbnb/accommodation/presentation/dto/SearchAccommodationsOptionsRequest.java
  backend/src/main/resources/data.sql
Labels: backend, enhancement

#75 feat: [40] 숙소 예약 내역 상세 조회
  backend/src/main/java/team15/airbnb/reservation/application/ReservationService.java
  backend/src/main/java/team15/airbnb/reservation/infrastructure/.keep
  backend/src/main/java/team15/airbnb/reservation/infrastructure/ReservationRepository.java
  backend/src/main/java/team15/airbnb/reservation/presentation/controller/ReservationController.java
  backend/src/main/java/team15/airbnb/reservation/presentation/dto/ReservationDto.java
  backend/src/main/java/team15/airbnb/reservation/presentation/dto/ReservationResponse.java
Labels: feature, backend

#77 Be/feature/#37 reservation details
  backend/src/main/java/team15/airbnb/reservation/application/ReservationService.java
  backend/src/main/java/team15/airbnb/reservation/domain/Reservation.java
  backend/src/main/java/team15/airbnb/reservation/infrastructure/ReservationRepository.java
  backend/src/main/java/team15/airbnb/reservation/presentation/controller/ReservationController.java
  backend/src/main/java/team15/airbnb/reservation/presentation/dto/ReservationDetailsDto.java
  backend/src/main/java/team15/airbnb/reservation/presentation/dto/ReservationDetailsResponse.java
  backend/src/main/resources/data.sql
Labels: feature, backend, enhancement

#79 Be/feature/#39 reserve accommodation
  backend/src/main/java/team15/airbnb/accommodation/domain/Accommodation.java
  backend/src/main/java/team15/airbnb/reservation/application/ReservationService.java
  backend/src/main/java/team15/airbnb/reservation/domain/Reservation.java
  backend/src/main/java/team15/airbnb/reservation/infrastructure/ReservationRepository.java
  backend/src/main/java/team15/airbnb/reservation/presentation/controller/ReservationController.java
  backend/src/main/java/team15/airbnb/reservation/presentation/dto/PreviewResponse.java
  backend/src/main/java/team15/airbnb/reservation/presentation/dto/ReservationDetailsDto.java
  backend/src/main/java/team15/airbnb/reservation/presentation/dto/ReserveDto.java
Labels: feature, backend, enhancement

#81 Be/feature/#41 reservation cancel - 예약 취소 기능 구현
  backend/src/main/java/team15/airbnb/common/domain/BaseEntity.java
  backend/src/main/java/team15/airbnb/reservation/application/ReservationService.java
  backend/src/main/java/team15/airbnb/reservation/domain/Reservation.java
  backend/src/main/java/team15/airbnb/reservation/infrastructure/ReservationRepository.java
  backend/src/main/java/team15/airbnb/reservation/presentation/controller/ReservationController.java
  backend/src/main/java/team15/airbnb/reservation/presentation/dto/ReservationDto.java
Labels: feature, backend, enhancement

#80 fix: 위치정보 불러오기 버그 해결 및 코드 간소화
  android/app/src/main/java/com/example/airbnb/ui/MainActivity.kt
Labels: fix, android

#83 [Android] 검색 결과 API 페이징 처리 구현
  android/app/build.gradle
  android/app/src/main/java/com/example/airbnb/SearchResultFragment.kt
  android/app/src/main/java/com/example/airbnb/common/BindModule.kt
  android/app/src/main/java/com/example/airbnb/data/mainrepository/MainDataSource.kt
  android/app/src/main/java/com/example/airbnb/data/mainrepository/MainMainDataSourceImpl.kt
  android/app/src/main/java/com/example/airbnb/data/mainrepository/MainRepository.kt
  android/app/src/main/java/com/example/airbnb/data/searchresultrepository/SearchResultDataSource.kt
  android/app/src/main/java/com/example/airbnb/data/searchresultrepository/SearchResultDataSourceImpl.kt
  android/app/src/main/java/com/example/airbnb/data/searchresultrepository/SearchResultRepository.kt
  android/app/src/main/java/com/example/airbnb/network/APIService.kt
  android/app/src/main/java/com/example/airbnb/network/RetrofitObject.kt
  android/app/src/main/java/com/example/airbnb/network/dto/SearchResult.kt
  android/app/src/main/java/com/example/airbnb/ui/MainActivity.kt
  android/app/src/main/java/com/example/airbnb/ui/myreservation/MyReservationFragment.kt
  android/app/src/main/java/com/example/airbnb/ui/placesearch/PlaceSearchFragment.kt
  android/app/src/main/java/com/example/airbnb/ui/search/ViewModel.kt
  android/app/src/main/java/com/example/airbnb/ui/searchresult/SearchResultFragment.kt
  android/app/src/main/java/com/example/airbnb/ui/searchresult/SearchResultPagingAdapter.kt
  android/app/src/main/java/com/example/airbnb/ui/searchresult/SearchResultPagingSource.kt
  android/app/src/main/java/com/example/airbnb/ui/searchresult/SearchResultViewModel.kt
  android/app/src/main/res/layout/fragment_my_reservation.xml
  android/app/src/main/res/layout/fragment_search_result.xml
  android/app/src/main/res/layout/item_search_result.xml
  android/app/src/main/res/navigation/navigation.xml
  android/app/src/main/res/values-night/strings.xml
  android/app/src/main/res/values/strings.xml
Labels: feature, android

#87 [Android] 3주차 첫번째 PR 리뷰 반영
  android/app/src/main/java/com/example/airbnb/data/mainrepository/MainMainDataSourceImpl.kt
  android/app/src/main/java/com/example/airbnb/network/APIService.kt
  android/app/src/main/java/com/example/airbnb/ui/MainActivity.kt
  android/app/src/main/java/com/example/airbnb/ui/search/ViewModel.kt
  android/app/src/main/java/com/example/airbnb/ui/searchresult/SearchResultPagingSource.kt
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/fragment_search.xml
  android/app/src/main/res/layout/fragment_search_result.xml
Labels: fix, android

#91 [Android] 코드 병합용 PR
  android/app/src/main/java/com/example/airbnb/data/mainrepository/MainDataSource.kt
  android/app/src/main/java/com/example/airbnb/data/mainrepository/MainMainDataSourceImpl.kt
  android/app/src/main/java/com/example/airbnb/data/mainrepository/MainRepository.kt
  android/app/src/main/java/com/example/airbnb/data/model/SearchCondition.kt
  android/app/src/main/java/com/example/airbnb/network/APIService.kt
  android/app/src/main/java/com/example/airbnb/network/RetrofitObject.kt
  android/app/src/main/java/com/example/airbnb/network/dto/PlaceList.kt
  android/app/src/main/java/com/example/airbnb/ui/common/BindingAdapter.kt
  android/app/src/main/java/com/example/airbnb/ui/detailpage/DetailPageFragment.kt
  android/app/src/main/java/com/example/airbnb/ui/detailpage/DetailPageViewModel.kt
  android/app/src/main/java/com/example/airbnb/ui/placesearch/PlaceSearchFragment.kt
  android/app/src/main/java/com/example/airbnb/ui/placesearch/PlaceSearchViewModel.kt
  android/app/src/main/java/com/example/airbnb/ui/searchresult/SearchResultFragment.kt
  android/app/src/main/res/drawable/round_corner.xml
  android/app/src/main/res/layout/fragment_detail_page.xml
  android/app/src/main/res/layout/fragment_search_result.xml
  android/app/src/main/res/layout/item_close_travel.xml
  android/app/src/main/res/layout/item_search_result.xml
  android/app/src/main/res/values-night/strings.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
Labels: feature, android

#93 [Android] 숙소 상세 페이지 구현
  android/app/src/main/java/com/example/airbnb/common/BindModule.kt
  android/app/src/main/java/com/example/airbnb/network/APIService.kt
  android/app/src/main/java/com/example/airbnb/network/dto/AccomodationDetailResponse.kt
  android/app/src/main/java/com/example/airbnb/ui/MainActivity.kt
  android/app/src/main/java/com/example/airbnb/ui/common/BindingAdapter.kt
  android/app/src/main/java/com/example/airbnb/ui/detailpage/DetailPageFragment.kt
  android/app/src/main/java/com/example/airbnb/ui/detailpage/DetailPageViewModel.kt
  android/app/src/main/java/com/example/airbnb/ui/placesearch/PlaceSearchFragment.kt
  android/app/src/main/java/com/example/airbnb/ui/searchresult/SearchResultFragment.kt
  android/app/src/main/java/com/example/airbnb/ui/searchresult/SearchResultListener.kt
  android/app/src/main/java/com/example/airbnb/ui/searchresult/SearchResultPagingAdapter.kt
  android/app/src/main/res/layout/fragment_detail_page.xml
  android/app/src/main/res/navigation/navigation.xml
Labels: feature, android
