Repository nathan29849/airbnb, pull requests merged in 2022-05, with the labels that each got.

#9 [Android] 테마 적용 및 이미지 로더 및 RecyclerView 세팅
  android/app/build.gradle
  android/app/src/main/assets/closeTravel.json
  android/app/src/main/assets/heroImage.json
  android/app/src/main/java/com/example/airbnb/ImageBindingAdapter.kt
  android/app/src/main/java/com/example/airbnb/SearchCloseTravel.kt
  android/app/src/main/java/com/example/airbnb/SearchCloseTravelAdapter.kt
  android/app/src/main/java/com/example/airbnb/SearchFragment.kt
  android/app/src/main/java/com/example/airbnb/ViewModel.kt
  android/app/src/main/res/layout/fragment_search.xml
  android/app/src/main/res/layout/item_close_travel.xml
  android/app/src/main/res/values-night/strings.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
  android/app/src/main/res/values/themes.xml
  android/build.gradle
Labels: feature

#11 장소검색화면 검색어 입력 전 상태 구현
  android/app/src/androidTest/java/com/example/airbnb/ExampleInstrumentedTest.kt
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/airbnb/ImageBindingAdapter.kt
  android/app/src/main/java/com/example/airbnb/MainActivity.kt
  android/app/src/main/java/com/example/airbnb/MyReservationFragment.kt
  android/app/src/main/java/com/example/airbnb/PlaceSearchAdapter.kt
  android/app/src/main/java/com/example/airbnb/PlaceSearchFragment.kt
  android/app/src/main/java/com/example/airbnb/PlaceSearchViewModel.kt
  android/app/src/main/java/com/example/airbnb/SearchFragment.kt
  android/app/src/main/java/com/example/airbnb/ViewModel.kt
  android/app/src/main/java/com/example/airbnb/WishListFragment.kt
  android/app/src/main/java/com/example/airbnb/data/model/PlaceData.kt
  android/app/src/main/res/drawable/ic_baseline_place_24.xml
  android/app/src/main/res/layout/fragment_place_search.xml
  android/app/src/main/res/layout/item_popular_place_detail.xml
  android/app/src/main/res/layout/item_search_place_detail.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/test/java/com/example/airbnb/ExampleUnitTest.kt
Labels: feature

#17 feat: [#14] 스프링 부트 프로젝트 초기 세팅 완료
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/team15/airbnb/AirbnbApplication.java
  backend/src/test/java/team15/airbnb/AirbnbApplicationTests.java
Labels: backend, enhancement

#18 feat: [#16] application.yml 설정파일 초기작업 완료
  backend/.idea/.gitignore
  backend/.idea/.name
  backend/.idea/compiler.xml
  backend/.idea/gradle.xml
  backend/.idea/jarRepositories.xml
  backend/.idea/misc.xml
  backend/.idea/sonarlint/issuestore/index.pb
  backend/.idea/vcs.xml
  backend/HELP.md
  backend/airbnb.iml
  backend/build/classes/java/main/team15/airbnb/AirbnbApplication.class
  backend/build/resources/main/application-local.yml
  backend/build/resources/main/application.yml
  backend/build/tmp/compileJava/previous-compilation-data.bin
  backend/out/production/classes/team15/airbnb/AirbnbApplication.class
  backend/out/production/resources/application-local.yml
  backend/out/production/resources/application.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/application.yml
Labels: backend, enhancement

#24 [Android] 현재 달이 아닌 다음 달을 가져오는 이슈 해결
  android/app/src/main/java/com/example/airbnb/ui/placesearch/PlaceSearchFragment.kt
Labels: fix, android

#27 feat: [26] entity 생성하기
  backend/src/main/java/team15/airbnb/domain/BaseEntity.java
  backend/src/main/java/team15/airbnb/domain/Favorites.java
  backend/src/main/java/team15/airbnb/domain/Reservation.java
  backend/src/main/java/team15/airbnb/domain/Review.java
  backend/src/main/java/team15/airbnb/domain/User.java
  backend/src/main/java/team15/airbnb/domain/UserType.java
  backend/src/main/java/team15/airbnb/domain/accommodation/Accommodation.java
  backend/src/main/java/team15/airbnb/domain/accommodation/AccommodationDetails.java
  backend/src/main/java/team15/airbnb/domain/accommodation/AccommodationImage.java
  backend/src/main/java/team15/airbnb/domain/accommodation/AccommodationType.java
  backend/src/main/java/team15/airbnb/domain/accommodation/Address.java
  backend/src/main/java/team15/airbnb/domain/accommodation/DiscountPolicy.java
  backend/src/main/java/team15/airbnb/domain/accommodation/Event.java
  backend/src/main/java/team15/airbnb/domain/accommodation/Region.java
  backend/src/main/java/team15/airbnb/domain/accommodation/Vat.java
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application.yml
Labels: feature, backend

#29 Android/feature/28 delete temp button
  android/app/src/main/java/com/example/airbnb/data/repository/DataSourceImpl.kt
  android/app/src/main/java/com/example/airbnb/ui/PriceSettingFragment.kt
  android/app/src/main/java/com/example/airbnb/ui/calendar/CalendarFragment.kt
  android/app/src/main/java/com/example/airbnb/ui/common/ShowCalendarListener.kt
  android/app/src/main/java/com/example/airbnb/ui/placesearch/PlaceSearchAdapter.kt
  android/app/src/main/java/com/example/airbnb/ui/placesearch/PlaceSearchFragment.kt
  android/app/src/main/java/com/example/airbnb/ui/search/SearchCloseTravelAdapter.kt
  android/app/src/main/java/com/example/airbnb/ui/search/SearchFragment.kt
  android/app/src/main/java/com/example/airbnb/ui/search/ViewModel.kt
  android/app/src/main/res/layout/fragment_calendar.xml
  android/app/src/main/res/layout/fragment_place_search.xml
  android/app/src/main/res/layout/fragment_price_setting.xml
Labels: android, enhancement
